/*
=======================================
// Title: Bob’s Computer Repair Shop
// Date: 22 April 2022
// Authors: Evan Durkin, Keith Hall,
// Gustavo Roo Gonzalez, and Gunner Bradley
// Description: Css file for the sign-up component.
=======================================
*/


/********** Card, Card Actions, and Container **********/
.card-container {
  width: 50%;
  min-width: 750px;
  min-height: 600px;
  max-width: 840px;
  padding: 0 0 15px 0;
  margin: 7% auto;
  border-radius: 0px;
}

.mat-horizontal-content-container {
  background-color: #ffffff;
}

.mat-card-actions {
  margin: 15px;
}

.mat-card-actions button {
  padding: 5px 30px;
}

.spacer {
  height: 50px;
}

.card-title {
  text-align: center;
  padding-top: 19px;
  padding-bottom: 19px;
  background-color: #323232;
  font-size: 22px;
  margin-bottom: 0;
  font-family: 'Aldrich', sans-serif;
}


/********** Mat Form Fields and Tabs **********/

.mat-tab-group {
  min-height: 400px;
}

.mat-form-field {
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 5px;
}

.spacer {
  height: 50px;
}

/* .error-input {
  background-color: #f5f5f6;
} */

.form {
  margin-top: 35px;
}

.form-field {
  margin-bottom: 5px;
}

mat-tab-label {
  margin: 0 25px
}

mat-label, input {
  color: black;
  font-size: 14px;
}

mat-hint {
  color: #323232;
}

.mat-tab-group.mat-background-primary > .mat-tab-header .mat-tab-label, .mat-tab-group.mat-background-primary > .mat-tab-link-container .mat-tab-link, .mat-tab-nav-bar.mat-background-primary > .mat-tab-header .mat-tab-label, .mat-tab-nav-bar.mat-background-primary > .mat-tab-link-container .mat-tab-link {
  margin: 0 30px;
}

mat-option {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

mat-select-value {
  color: black;
  font-size: 14px;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  margin-bottom: 15px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 0;
}

.mat-form-field-flex .ng-tns-c145-6 {
  width: 66px;
}

.mat-select-value {
  font-size: 14px;
}


/********** Buttons and Links **********/

.return-sign-in {
  color: #323232;
  display: inline-flex;
}

.btn-sign-up {
  border-radius: 0;
  font-weight: 400;
  font-size: 18px;
}

.btn-primary {
  border-radius: 0;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.btn-back {
  font-family: 'Aldrich', sans-serif;
  border: none;
  border-radius: 0;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 3px;
  padding-top: 3px;
  background-color: #dddcdc;
  color: #8a8a8a;
}

.btn-back:hover {
  background-color: #8a8a8a;
  color: #dddcdc;
  transition: .5s;
}
