/*
=======================================
// Title: Bob’s Computer Repair Shop
// Date: 22 April 2022
// Authors: Evan Durkin, Keith Hall,
// Gustavo Roo Gonzalez, and Gunner Bradley
// Description: Css file for the contact component.
=======================================
*/

.contact-container {
  margin: 70px;
  color: #2a623d;
  font-family: 'Karla', sans-serif;
  font-size: 30px;
  letter-spacing: -1pt;
}

.contact-title {
  font-size: 40px;
  padding-top: 10px;
}

.contact-p {
  font-size: 25px;
  line-height: 1.15em;
}

.center {
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 10px;
  color: var(--accent-color);
}
