/*
=======================================
// Title: Bob’s Computer Repair Shop
// Date: 04 April 2022
// Authors: Evan Durkin, Keith Hall,
// Gustavo Roo Gonzalez, and Gunner Bradley
// Description: CSS file for the auth-layout component.
=======================================
*/

.logo {
  margin-left: 75px;
  font-size: 24px;
  font-weight: lighter;
}
span {
  font-family: 'Karla', sans-serif;
}

.navbar-container {
  padding: 5px;
}

.navbar-link {
  font-size: 24px;
  font-weight: lighter;
}

.main-content {
  padding-left: 0px;
  padding-bottom: 8%;
  margin: 2% 12% 5%;
}

.footer-content {
  padding: 20px
}

.mat-menu-content {
  margin-right: 10px;
}
