.logo {
  margin-left: 75px;
  font-size: 24px;
  font-weight: lighter;
}
span {
  font-family: 'Karla', sans-serif;
}

.navbar-container {
  padding: 5px;
}

.navbar-link {
  font-size: 24px;
  font-weight: lighter;
}

.main-content {
  padding-left: 0px;
  margin: 3% 12%;
}

.footer-content {
  padding: 20px
}

.mat-menu-content {
  margin-right: 10px;
}
