 /*
=======================================
// Title: Bob’s Computer Repair Shop
// Date: 27 April 2022
// Authors: Evan Durkin, Keith Hall,
// Gustavo Roo Gonzalez, and Gunner Bradley
// Description: CSS file for the verify-user component.
=======================================
*/

.cardContainer {
  height: 100%;
}
mat-card {
  margin: 10% 20% 10% 20%;
  width: 22%;
  height: 78%;
  margin: auto;
}
.accent {
  font-size: 24px;
  font-weight: 400;color: #568e67;
  font-family:Aldrich;
}
.subtitle-accent {
font-family: Karla;
}


