/*
=======================================
// Title: Bob’s Computer Repair Shop
// Date: 04 April 2022
// Authors: Evan Durkin, Keith Hall,
// Gustavo Roo Gonzalez, and Gunner Bradley
// Description: Css file for the home component.   
=======================================
*/

.main-welcome {
    margin-top: 30px;
  }
  
  .title {
    text-align: center;
    font-weight: lighter;
  }
  
  .subtitle {
    text-align: center;
    font-size: 14px;
  }
  