/*
=======================================
// Title: Bob’s Computer Repair Shop
// Date: 5 May 2022
// Authors: Evan Durkin, Keith Hall,
// Gustavo Roo Gonzalez, and Gunner Bradley
// Description: Service List Styling
=======================================
*/

.question-list-card {
  border-radius: 0;
  padding: 0;
  background-color: #ffffff;
  width: 50%;
  min-width: 670px;
  margin: 5% auto;
}
.service-title {
  text-align: center;
  font-family: "Aldrich", sans-serif;
  padding: 20px;
  margin-bottom: 0;
  background-color: #343434;
}
.btn-add-service {
  background-color: #568e67;
  color: #003515;
  border-radius: 0;
  margin: 10px;
  float: right;
}
.btn-add-service:hover {
  background-color: #33ff66;
}
/* Placeholder text color */
::placeholder {
  color: black;
   /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: black;
 padding-left: 4px;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: black;
}
/* Input text color */

input[type=text], select {
  color: black;
}
.form-field {
  font-family: Karla;
}

