
.m/*
=======================================
// Title: Bob’s Computer Repair Shop
// Date: 07 May 2022
// Authors: Evan Durkin, Keith Hall,
// Gustavo Roo Gonzalez, and Gunner Bradley
// Description: CSS file for the print-dialog component.
=======================================
*/

at-card {
  text-align: center;
  box-shadow: none;
}

.mat-spinner{
  margin: auto;
}

.mat-icon {
  font-size: 65px;
  width: 65px;
  height: 65px;
}
