/*
=======================================
// Title: Bob’s Computer Repair Shop
// Date: 04 April 2022
// Authors: Evan Durkin, Keith Hall,
// Gustavo Roo Gonzalez, and Gunner Bradley
// Description: Css file for the base-layout component.
=======================================
*/
  .main-content {
    margin: 0 auto;
  }

  .signInLink {
    font-family: 'Aldrich', sans-serif;
    color: #003716;
    background-color: #579068;
    border-radius: 0;
    font-size: 24px;
  }

  .signInLink:hover {
    background-color: #33ff66;
    transition: .5s;
  }

  .registerLink {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: underline;
  }

  .registerLink:hover {
    color: #579068;
  }

  .main-content {
    padding-left: 30px;
  }

  .footer-content {
   padding: 20px
 }
