/*
=======================================
// Title: Bob’s Computer Repair Shop
// Date: 07 May 2022
// Authors: Evan Durkin, Keith Hall,
// Gustavo Roo Gonzalez, and Gunner Bradley
// Description: CSS file for the add-item-to-invoice component.
=======================================
*/

mat-label {
  color: black;
  font-size: 12px;
  font-family:'Karla';

}
