/*
=======================================
// Title: Bob’s Computer Repair Shop
// Date: 07 May 2022
// Authors: Evan Durkin, Keith Hall,
// Gustavo Roo Gonzalez, and Gunner Bradley
// Description: CSS file for the add-item-to-invoice component.
=======================================
*/

mat-label {
  color: black;
  font-size: 12px;
  font-family:'Karla';
}

.addService {
  width: 400px;
   background-color: #ffffff;

}

::ng-deep.mat-dialog-container {
  padding: 0px !important;
  background-color: #ffffff;
}

.btn-primary, .btn-back {
  border-radius: 0;
}

.btn-back {
  font-size: 14px;
}

.btn-primary {
  color: white;
  background-color: green;
}


.addServiceTitle {
  background-color: #5b5b5b;
  padding: 9px;
  padding-left: 17px;
}

mat-form-field {
  margin-left: 13px;
  margin-right: 13px;
}
